djangorestframework
django-filter
psycopg2-binary
django-crispy-forms
crispy-bootstrap5
django-environ
dj-database-url
whitenoise
gunicorn
psutil
requests
openpyxl
pandas
python-dotenv
Django>=4.3
djangorestframework
django-filter
psycopg2-binary
django-crispy-forms
crispy-bootstrap5
django-environ
dj-database-url
whitenoise
gunicorn
psutil
requests
openpyxl
pandas